/* ___________________________________Importo fuentes personalizadas___________________________________________________*/
/* Importo una fuente que descargue para estilizar la letra de mis enlaces*/
@font-face {
    font-family: 'Handmade';
    src: url(../fonts/Handmade.otf);
  }

  @font-face {
    font-family: 'Pokemon';
    src: url(../fonts/PokemonSolid.ttf);
  }

  @font-face {
    font-family: 'NextBro';
    src: url(../fonts/TrashTalk.ttf);
  }


/* ___________________________________Estilos para barra de navegacion solicitada ___________________________________________________*/
/* Con este estilo busco que los elementos, logo, nav(enlaces) y busqueda se dispongan de manera horizontal y en el formato space-between */
body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF8DC;
    padding: 10px 20px;
    border-radius: 5px;
}

/* ___________________________________Estilos para el nav___________________________________________________*/

/* Con este estilo busco disponer la lista de enlaces horizontalmente ya que esta se orienta verticalmente por defecto  */
nav ul {
    list-style: none;
    display: flex;
    margin: 20;
    padding: 0;
}

/* como los enlaces quedan pegados le aplico un margin a la derecha a cada elemento de la lista para lograr separacion entre ellos */
nav li {
    margin-right: 20px;
    cursor: pointer;
}

/* a cada elemento a o link del nav le quitare el subrayado, defino el color blaco y agrego una transicion para el hover la defino en 0.5s */
nav a {
    font-family: "Handmade", Arial;/*aplico la fuente customizada, sino es posible cargarla se aplicara el estilo Arial*/
    font-size: xx-large;
    text-decoration: none; 
    color: white; 
    font-weight: bold;
    transition: color 1s;
}

/* Al pasar el mouse por encima de los enlaces los resalto de azul */
nav a:hover {
    color: #007bff;
}


/* ___________________________________Estilos para la caja de búsqueda, icono lupa y botón ___________________________________________________*/

/* uso flex para la disposicion de los elementos ademas de redondear y definir color blanco para generar el efecto de que el boton y el cuadro de input estan en un mismo elemento*/
    .search {
        display: flex;
        background: #fff;
        border-radius: 25px;
        padding: 5px;
        border-color: #4682B4;
        border-style: solid;
    }

/* redondeo y redimenciono el cuadro de busqueda */
.search input {
    border: none;
    border-radius: 25px;
    padding: 10px;
    width: 200px;
    outline: none;
}

/* Estilo del icono de lupa */
.lupa-icon {
    width: 25px; 
    height: 25px; 
    margin: auto;
}

/* le doy color al boton de busqueda, lo redondeo y establezco el cursor en pointer como se solicita */
.search button {
    background-color: #4682B4;
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 5px 15px;
    cursor: pointer;
}

/* Aplico los efectos al boton, los cuales son un cambio de color a una tonalidad de verde, una iluminacion en tono naranja y aplico los tiempos de transicion */
.search button:hover {
    background-color: #4CAF50;
    box-shadow: 0 0 20px rgba(255, 196, 0, 0.3);
    transition: background-color 0.1s, color 0.5s, box-shadow 0.3s;
}

/* ___________________________________Animacion de rotacion___________________________________________________*/

/* Define la animación de giro de 360 grados a la derecha */
@keyframes giro {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* ___________________________________Estilos para las imagenes de cada seccion___________________________________________________*/

/* Estilo para el contenedor centrado */
.centered-image {
    margin-top: 70px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%; 
    width: 100%;
}

/* Para la imagen solo manipule el tamño, 350 px  de ancho por todo el espacio de alto */
.centered-image img {
    max-width: 600px;
    max-height: 100%; 
}

/* ___________________________________Container Pokebola*/
.container-pokebola {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 600px;
    background-color: #FFFFFF; /* Color de fondo */
    margin-top: 30px;
    border-radius: 10px; /* Bordes redondeados */
    border-color: 4682B4;
    border-style: solid;
}

.container-pokebola img{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    animation: giro 10s linear infinite;
}

/* ___________________________________Container ppal______________________________________________*/
.container-pokemon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 600px;
    background-color: #FFFFFF; /* Color de fondo */
    margin-top: 30px;
    border-radius: 10px; /* Bordes redondeados */
}

/* ___________________________________Container Pokemon___________________________________________________ */
.container-pokemon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 100%;
    /* background-color: rgba(227, 215, 182, 0.7); Fondo con transparencia */
    background-color: white;
    margin-top: 30px;
    border-radius: 10px;
    border-color: #4682B4; /* Borde azul */
    border-style: solid;
    border-width: 2px; /* Ancho del borde */
    overflow: hidden;
    padding: 10px; /* Margen interno para separación */
}

/* Asegúrate de que todos los elementos de texto no se desborden */
.container-pokemon p {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
}

/* Limita el ancho de las imágenes */
.container-pokemon img {
    max-width: 50%;
    height: auto;
}

/* Alinea el contenido en el centro de su contenedor */
.container-pokemon .habilidades,
.container-pokemon .stats,
.container-pokemon .pokemon-name,
.container-pokemon img {
    text-align: center;
}

/* Estilo para el nombre del Pokémon */
.pokemon-name {
    color: #ffbf00; /* Color amarillo */
    background-color: #4682B4;
    font-family: "Pokemon", Arial;
    font-size: xx-large; /* Tamaño del texto */
    text-shadow: 2px 2px 2px #000; /* Sombra suave */
    width: 100%; /* Ocupa todo el espacio horizontal */
    line-height: 100px; /* Ajusta esto según el tamaño de tu contenedor */
    border-radius: 30px;
}


/* Estilo para Habilidades */
.habilidades {
    width: 100%;
    background-color: #ffe187;
    font-size: large;
    font-family: "NextBro", Arial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #FFD700; Color amarillo (eléctrico) */
    border: 2px solid #ffe187; /* Borde amarillo */
    border-radius: 5px;
    margin-top: 5px;
}

/* Estilo para Stats */
.stats {
    background-color: #ffe187;
    font-size: large;
    font-family: "NextBro", Arial;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    /* background-color: #68A090; Color verde (planta) */
    border: 2px solid #f8d56d; /* Borde azul */
    border-radius: 5px;
    margin-top: 5px;
    /* text-shadow: 1px 1px 1px #000; Sombra suave */
}



  